body {
    background-image: url('https://tint.creativemarket.com/wXEXSAbHSbED75peo8MVwBgknXaMIhSPIItVancgbNA/width:1200/height:800/gravity:nowe/rt:fill-down/el:1/czM6Ly9maWxlcy5jcmVhdGl2ZW1hcmtldC5jb20vaW1hZ2VzL3NjcmVlbnNob3RzL3Byb2R1Y3RzLzQyNDUvNDI0NTAvNDI0NTA4NzQvcGxhaWQtaW4tbGlnaHQtZ3JlZW4tYS1vLmpwZw?1691390679');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.button1 {
    border: black solid 1.5px;
    border-radius: 15px;
    margin: 10px;
    max-width: 200px;
    text-align: center;
    background-color: white;
}

.button1:hover {
    transition: transform 0.3s ease;
    transform: scale(1.05);
}

.button2 {
    background-color: white;
    border: black solid 1.5px;
    border-radius: 15px;
    margin: 10px;
    max-width: 200px;
    text-align: center;
}

.button2:hover {
    transition: transform 0.3s ease;
    transform: scale(1.05);
}

.content {
    text-align: center;
    position: fixed;
    bottom: 0;
}

.opening-statement {
  display: inline-block;
}

.opening-statement h1, p {
  font-family: monospace;
  /* Ensures the text stays on a single line */
  white-space: nowrap; 
  /* Hides text outside the container before it types */
  overflow: hidden; 
  /* Width starts at 0 so it's invisible */
  width: center; 
  /* Adjust speed and animation name here */
  animation: typing 3s steps(30, end), step-end infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}