body {
    background-color: rgb(218, 255, 218);
    font-family: "gorditas", serif;
    text-align: center;
}

.gorditas-regular {
    font-family: "Gorditas", serif;
    font-weight: 400;
    font-style: normal;
}

.buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

#button1 {
    border: black solid 1.5px;
    border-radius: 15px;
    margin: 10px;
    width: 200px;
    height: 100px;
    max-width: 200px;
    max-height: 100px;
    text-align: center;
    background-color: white;
}

#button1:hover {
    background-color: rgb(156, 255, 184);
    border: dashed black 1.5px;
    transition: transform 0.3s ease;
    transform: scale(1.05);
    box-shadow: 0 4px 8px 0 rgba(187, 255, 166, 0.5), 0 6px 20px 0 rgba(133, 255, 167, 0.5);
}

#hipperLooking {
    width: 175px;
    height: 175px;
    margin-bottom: -100px;
    z-index: 100;
}

#lounging {
    max-width: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#button2 {
    background-color: white;
    border: black solid 1.5px;
    border-radius: 15px;
    margin: 10px;
    width: 200px;
    height: 100px;
    max-width: 200px;
    max-height: 100px;
    text-align: center;
}

#button2:hover {
    background-color: rgb(156, 255, 184);
    border: dashed black 1.5px;
    transition: transform 0.3s ease;
    transform: scale(1.05);
    box-shadow: 0 4px 8px 0 rgba(187, 255, 166, 0.5), 0 6px 20px 0 rgba(133, 255, 167, 0.5);
    font-style: "gorditas", serif;
}

.content {
    text-align: center;
    position: fixed;
    bottom: 0;
}

.opening-statement {
  display: inline-block;
}

.opening-statement, p {
  font-family: monospace;
  /* Ensures the text stays on a single line */
  white-space: nowrap; 
  /* Hides text outside the container before it types */
  overflow: hidden; 
  /* Width starts at 0 so it's invisible */
  width: center; 
  /* Adjust speed and animation name here */
  animation: typing 3s steps(30, end), step-end infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

.headshot-wrapper {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    overflow: hidden;
    
}

.headshot {
    height: auto;
    width: 100%;
    object-fit: cover;
    object-position: 0%;
}